@import 'antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');


body{
  font-family: 'Poppins', sans-serif!important;
}

.header {
  background-color: #fff;
  box-shadow: 1px 1px 8px #ccc;
  position: fixed;
  width: 100%;
  z-index: 9;
  }
  
.logo-set{
  display: flex;
  align-items: center;
}
.logo-set img{
  height: 45px;
}

.header h2{
  padding:0;
  margin: 0 0 0 10px;
  color: #064990;
}

.header-menu{
  margin-left: 90px;
}
.header-menu ul li{
  margin: 0;
}

.menu-button{
  display: none!important;
}


.main-container{
  margin-top: 70px;
}
.box-container{
   margin:0 40px 40px 40px; 
  padding: 25px;
  background-color: #fff;
  /* height: calc(100vh - 400px); */
  overflow: auto;
}

.box-container .ant-descriptions-item-label{
  font-weight: bold;
  color: #555;
}

.page-header-container{
  justify-content: space-between;
  align-self: center;
  margin: 20px 40px 10px 40px;
  display: flex;
}
.page-header-container h3{
  font-weight: bold;
  color: #2a8ff7;
}
.footer-set {
  padding: 0 10px 10px 10px;
  color: rgba(0, 0, 0, 0.55);
  font-size: 12px;
  background: #f0f2f5;
  text-align: center;
}

.page-header{
  color: #084a91;
  text-transform: uppercase;
  margin: 0 40px;
  font-weight: bold;
  font-size: 24px;
}
.clearfix{
  clear: both;
}

.ant-table-thead > tr > th{
  font-weight: bold;
}
/* 
.is-invalid{
  border-color: #dc3545;
}

.is-invalid:hover{
  border-color:red;
}

.is-invalid:focus{
  border-color: #dc3545;
}

.invalid-feedback{
  color: red;
}

.d-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.d-flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.overflowX {
  overflow-x: auto;
}

.w-100 {
  width: 100%;
}

.carousel{
  padding: 20px;
}

.footer{
  background-color: #d3e0ea;
  width: 100%;
  text-align: center;
  padding: 10px 50px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
}



.login-height {
  height: calc(100vh - 120px);
  margin-bottom: 20px;
}

.login-footer {
  position: fixed;
  left: 0;
  bottom: 0;
}

.AI-heading {
  text-align: center;
  background-color: antiquewhite;
  border: 10px;
  margin-top: 20px;
}

.content-edit{
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
} */
